# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages used in Data Science
- List popular library used in Data Science
- List some of the data science tools

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Scala
5. SAS

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Pytorch
4. SciPy
5. TensorFlow

| Data Science Tools |
|--------------------|
| R Studio           |
| Jupyter            |
| Anaconda Navigator |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
minute = 200
hours = minute/60
print( minute, 'minutes is equal to ', hours, 'hours')

200 minutes is equal to  3.3333333333333335 hours

## Author
Mohamed Afoda-Sebou